# Compiler files
cache/
out/

# Broadcast / deployment artifacts
broadcast/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env / secrets
.env
.env.*
!.env.example


# Build artifacts
artifacts/
build/
dist/
coverage/

# Node
node_modules/


# Logs
*.log